html, body, #root, .App {
    background-color: #FFBC80;
    height:100%
}
.TopBar div {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    /* border-right: 1px dashed black; */
}